*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 90px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.65);
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s linear;
    overflow: hidden;
}

.main.active{
    background-color: red;
}

.main .menu-burger{
    position: relative;
    height: 100%;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-burger .line{
    position: absolute;
    height: 8px;
    width: 100%;
    border-radius: 6px;
    background-color: #2c3e50;
    transition: all 0.4s linear;
}

.menu-burger .top.line{
    top: 15px;
}

.main.active .top.line{
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background-color: #fff;
}

.menu-burger .middle.line{
    left: 0;
    opacity: 1;
}
.menu-burger .bottom.line{
    bottom: 15px;
}

.main.active .middle.line{
    left: -100%;
    opacity: 0;
    background-color: red;
}

.main.active .bottom.line{
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
    background-color: #fff;
}
